.card {
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;

    background-color: rgb(var(--bgcol));

    transition: 300ms background-color, 300ms color;

    cursor: default;
    user-select: none;

    border-radius: 0.75rem;
}

.card:hover {
    transition: 200ms background-color, 200ms color;

    background-color: rgb(var(--color));
    color: rgb(var(--bgcol));
}

.card .cardname {
    font-weight: 500;
    opacity: 0.5;
}

.card .cardvalue {
    font-weight: 700;
    font-size: 3rem;
}

.card .cardunit {
    opacity: 0.5;
}
