.card {
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.card .cardname {
    font-weight: 500;
    color: rgb(var(--color) / 0.5);
}

.card .cardvalue {
    font-weight: 700;
    font-size: 3rem;
}

.card .cardunit {
    color: rgb(var(--color) / 0.5);
}
