:root {
    color-scheme: light;

    --color:   0   0   0;
    --bgcol: 255 255 255;
}

body {
    font-family: "Mona Sans", sans-serif;

    background-color: rgb(var(--bgcol));
    color: rgb(var(--color));
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
